main {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

h2 {
  color: #e50914;
  margin-bottom: 20px;
}

p {
  color: #ccc;
  margin-bottom: 15px;
  text-align: justify;
  line-height: 1.6;
}

main img {
  max-width: 200px;
  border-radius: 12px;
  display: block;
  margin-top: 20px;
}